[submodule "ntfy"]
	path = ntfy
	url = https://github.com/DmitryKadyshev/ntfy-hassio-addon.git
[submodule "hassio-addons-prowlarr"]
	path = hassio-addons-prowlarr
	url = https://github.com/DmitryKadyshev/hassio-addons-prowlarr.git
[submodule "hassio-addons-radarr"]
	path = hassio-addons-radarr
	url = https://github.com/DmitryKadyshev/hassio-addons-radarr.git
[submodule "hassio-addons-sonarr"]
	path = hassio-addons-sonarr
	url = https://github.com/DmitryKadyshev/hassio-addons-sonarr.git
